* {
    box-sizing: border-box;
    color: #000;
}
html {
    font-size: 16px;
}
body {
    width: 1280px;
    margin: 0;
    padding: 10px;
}
.parent {
    width: 1280px;
    height: 720px;
}

.child:nth-child(1){
    background: cadetblue;
    width: 73.7%;
    height: 150px;
    margin-right: 73.7%;
}
.child:nth-child(2){
    background: indianred;
    width: 49.2%;
    height: 150px;
    margin-left: 50%;
}

.child:nth-child(3){
    background: #8FC091;
    width: 73.7%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.child:nth-child(4){
    background: #8F86AF;
    width: 49.1%;
    height: 150px;
    margin-right: 49.1%;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.625em;
}
h3 {
    font-size: 1.75em;
}
h2.head {
    font-size: 1.5em;
}
h3.one {
    font-size: 1em;
}


